torch==2.1.0+cu121
torchvision==0.16.0+cu121
torchaudio==2.1.0+cu121
torch-cluster @ https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch-scatter @ https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch-sparse @ https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch-spline-conv @ https://data.pyg.org/whl/torch-2.1.0+cu121.html
git+https://github.com/facebookresearch/pytorch3d.git@stable
pytorch-lightning <2.0.0
fairscale
mendeleev
DLLogger @ git+https://github.com/NVIDIA/dllogger.git@0540a43971f4a8a16693a9de9de73c1072020769
power-spherical @ git+https://git@github.com/zrqiao/power_spherical.git@290b1630c5f84e3bb0d61711046edcf6e47200d4
fair-esm @ git+https://github.com/facebookresearch/esm@57da016e5d740a9ac5bcf62c3689a42e88584bc
seaborn
